body {
    background-color: #fff;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    margin: 0;
  }

  h1 {
    color: hotpink;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 10px dotted purple;
  }

  h2 {
    font-size: 1.5em;
    font-style: italic;
  }

  .job-title {
    color: #999999;
    font-weight: bold;
  }

  a:link,
  a:visited {
    color: #fb6542;
  }

  a:hover {
    text-decoration: none;
    color: green;
  }

 div{
  width: 280px;
  height:80px;
  border-style:solid 10px;
  background-color: aqua;
 }
 ul a{
  background-color: #eeeeee;
 }
 #aaa{
  background-image: url(images/3.jpg);
  background-size: cover;
 }